@import "~bootstrap/scss/bootstrap.scss";

/* 
    You can write your own styles here...
*/
    
.bigCounter {
    text-align: center;
    background: black;
    margin: 5px;
}

.bigCounter div {
    display: inline-block;
    background: #3d3d3d;
    color: white;
    font-size: 60px;
    line-height: 60px;
    padding: 10px;
    margin: 3px;
    border-radius: 5px;
    
}
    
/*    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
